$Dark-Gray: hsl(0, 0%, 63%);
$Black: hsl(0, 0%, 0%);
$White: hsl(0, 0%, 100%);
 $Very-Dark-Gray: hsl(0, 0%, 27%);

@mixin large-screen {@media screen and (min-width: 575px){@content;}}
@mixin small-screen{@media screen and (max-width: 576px){@content;}}
  
@import "main";
@import "bottom";

*{
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width:100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Spartan', sans-serif;
}



  
  




